#sidebar{
    background-color: #f1f1f1;
    margin-top: 0px;
    text-align: left;
    width:200px;
    height: 420px;
    overflow-y: scroll;
    float: left;

}

#sidebar_itemlist{
    margin-left: 15px;
    list-style-type: none;

}

#sidebar_itemlist li a{

    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    display: block;
    font-size: 17px;
    color: #000;
}

#sidebar_itemlist li a:hover{
    background-color: #cccccc;
}
#sidebar_heading{
    font-size: 21px;
    font-weight: 400;
    margin: 10px 0px;
}